html {
    background-color: pink;
}

body {
    margin: auto;
    text-align: center;
    font-family: 'Helvetica', 'Arial';
}

 h1 {
        font-size: 36pt; color: red;
        border-top: 5px dotted black;
        border-bottom: 5px dotted black;
     text-transform: uppercase;}

h2 { font-size: 20pt; color:cornflowerblue;}


    p {
        color:teal;
        font-size: 15pt;
        line-height: 18pt;
    }
